<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Workshop Backbone</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="stylesheets/vendor/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/vendor/bootstrap-theme.css">
    <link rel="stylesheet" href="stylesheets/main.css">
  </head>
  <body>
    <header class="navbar navbar-static-top" id="top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <!-- Responsive navbar -->
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">Workshop Bootstrap</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
            <li>
              <a href="/?/#search">Search</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#help">Help</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- Placeholder for backbone -->
    <div id="app">
      <p class="container">App will be loaded here!</p>
    </div>

    <footer>
      <div class="container">
        Backbone workshop
      </div>  
    </footer>

    <!--  ===============  -->
    <!--  = Javascripts =  -->
    <!--  ===============  -->

    <!-- Include libraries -->
    <script src="//code.jquery.com/jquery-1.11.0.js"></script>
    <script src="/javascripts/vendor/bootstrap.js"></script>
    <script src="/javascripts/vendor/underscore.js"></script>
    <script src="/javascripts/vendor/backbone.js"></script>

    <!-- Create namespace for Workshop objects -->
    <script>
      window.App = {};
    </script>

    <!-- Models -->
    <script src="/javascripts/models/search.js"></script>



    <!-- Collection -->
    <script src="/javascripts/collections/search.js"></script>

    <!-- Templates -->
    <script type="text/template" id="root-view">
      <div class="jumbotron">
        <h1><%= title %></h1>
        <p><%= body %></p>
      </div>
    </script>

    <script type="text/template" id="app-view">
      <div class="container">
        <div class="row">
          <div class="col-md-8" id="content-view">
          </div>
          <div class="col-md-4" id="playlist-view">
            <h2>Playlist</h2>
          </div>
        </div>
      </div>
    </script>

    <script type="text/template" id="search-view">
      <h1>Search</h1>
      <form class="form-inline" role="form">
        <div class="form-group">
          <label class="sr-only" for="q">Search keyword</label>
          <input type="text" class="form-control" name="q" placeholder="Search keyword">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
      <div class="results">
        
      </div>
    </script>

    

    <script type="text/template" id="search-results">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>Artist</th>
            <th>Trackname</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </script>

    
    <!-- Views -->
    <script src="/javascripts/views/app.js"></script>
    <script src="/javascripts/views/root.js"></script>
    <script src="/javascripts/views/search.js"></script>

    <!-- Routes -->
    <script src="/javascripts/routes.js"></script>

    <!--  Site.js -->
    <script src="javascripts/app.js"></script>


  </body>
</html>
