
/* Some example styling outside bootstrap */
body > footer{
  border-top: 1px solid #e5e5e5;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
}

.results{
  margin: 20px 0;
}

.results table{
  table-layout: fixed;
}

.results table .medium{
  width: 20%;
}

.results table .small{
  width: 10%;
}


#playlist-view{
  background: #eee;
}